* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #000;
	color: #fff;
	overflow: hidden;
	font-family: "Raleway", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #fff;
	font-family: monospace;
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	animation: fadeIn 1s;
}
li a {
	display: flex;
	align-items: center;
	width: 200px;
	margin-top: 20px;
	transition: padding-left 0.2s;
}
li a:hover {
	padding-left: 20px;
}
ul li:last-child {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	cursor: pointer;
}
#copyDcText {
	opacity: 100%;
	transition: opacity 0.3s;
}

p {
	color: rgb(179, 179, 179);
	margin-bottom: 20px;
	animation: fadeIn 1s;
	min-width: 300px;
	max-width: 430px;
	text-align: justify;
}
h4 {
	font-weight: 600;
	animation: fadeIn 1s;
	width: 100%;
}
.icons {
	width: 40px;
	margin-right: 10px;
}
.projects {
	display: flex;
	width: 100%;
	justify-content: center;
}
.link--underline {
	text-decoration: underline;
}
section:nth-child(2) {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
section:nth-child(2) h4 {
	text-align: right;
}
section:nth-child(2) ol li a {
	justify-content: center;
	transition: font-size 0.1s;
	font-size: 14px;
}

section:nth-child(2) ol li a:hover {
	font-size: 16px;
	padding-left: 0;
}

.option .checked-option input[type="checkbox"] {
	visibility: hidden;
}
.option .checked-option input[type="checkbox"]:checked + label {
	transform: rotate(360deg);
}
.option .checked-option input[type="checkbox"]:checked + label:before {
	transform: translateX(29px);
}

.option .checked-option label {
	display: flex;
	width: 60px;
	height: 30px;
	border: 3px solid;
	border-radius: 99em;
	position: relative;
	transition: transform 0.75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
}
.checked-option {
	display: flex;
	margin-right: 13px;
}
.option .checked-option label:before {
	transition: transform 0.75s ease;
	transition-delay: 0.5s;
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 50%;
	top: 5px;
	left: 5px;
}
.option {
	margin: 5px 0 30px 0;
	display: flex;
	align-items: center;
}
.option p {
	margin-bottom: 0;
	min-width: 0;
	max-width: 200;
	color: #fff;
}
p.active {
	color: rgb(108, 108, 108);
}
section.d-none {
	display: none;
	transform: translateX(500px);
}
.animation-out {
	transition: transform 0.4s;
	transform: translateX(-500px);
}
.animation-in {
	animation: animation-in 0.4s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: 20px;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animation-in {
	0% {
		transform: translateX(500px);
	}
	100% {
		transform: translateX(0);
	}
}
@media only screen and (max-width: 960px) {
	h1 {
		font-size: 30px;
	}
	h4 {
		font-size: 15px;
	}
	li {
		font-size: 13px;
	}
	p {
		font-size: 14px;
	}
	.option .checked-option input[type="checkbox"]:checked + label:before {
		transform: translateX(29px);
	}
	.option .checked-option label:before {
		width: 10px;
		height: 10px;

		top: 4px;
		left: 3px;
	}
	.option .checked-option label {
		width: 50px;
		height: 25px;
	}
	section:nth-child(2) ul li a:hover {
		font-size: 17px;
		padding-left: 0;
	}
	.icons {
		width: 34px;
		margin-right: 10px;
	}
}