* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #000;
	color: #fff;
	overflow: hidden;
	font-family: "Raleway", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #fff;
	font-family: monospace;
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	animation: fadeIn 1s;
}
li a {
	display: flex;
	align-items: center;
	width: 200px;
	margin-top: 20px;
	transition: padding-left 0.2s;
}
li a:hover {
	padding-left: 20px;
}
ul li:last-child {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	cursor: pointer;
}
#copyDcText {
	opacity: 100%;
	transition: opacity 0.3s;
}

p {
	color: rgb(179, 179, 179);
	margin-bottom: 20px;
	animation: fadeIn 1s;
	min-width: 300px;
	max-width: 430px;
	text-align: justify;
}
h4 {
	font-weight: 600;
	animation: fadeIn 1s;
	width: 100%;
}
.icons {
	width: 40px;
	margin-right: 10px;
}
.projects {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.link--underline {
	text-decoration: underline;
}
section:nth-child(2) {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
section:nth-child(2) h4 {
	text-align: right;
}
section:nth-child(2) ul li a {
	justify-content: flex-end;
	transition: font-size 0.1s;
}
section:nth-child(2) ul li a:hover {
	font-size: 18px;
	padding-left: 0;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: 20px;
	}
	100% {
		opacity: 1;
	}
}
@media only screen and (max-width: 960px) {
	h1 {
		font-size: 30px;
	}
	h4 {
		font-size: 15px;
	}
	li {
		font-size: 13px;
	}
	p {
		font-size: 14px;
	}
	section:nth-child(2) ul li a:hover {
		font-size: 17px;
		padding-left: 0;
	}
	.icons {
		width: 34px;
		margin-right: 10px;
	}
}

@media only screen and (max-width: 540px) {
	.projects {
		flex-direction: column;
	}
	section:nth-child(1) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	section:nth-child(2) {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	section:nth-child(2) ul li a {
		justify-content: left;
		transition: font-size 0.1s;
	}
	section:nth-child(2) h4 {
	text-align: left;
}
}
